<h1>URDb</h1>

<table class="table">
	<thead>
		<tr>
			<td>First Name</td>
			<td>Last Name</td>
			<td>Email</td>
			<td>Age</td>
			<td>Movie</td>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>

			<% if user.complete == true %>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.email %></td>
			<td><%= user.age %></td>
			<td><%= user.movie %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>