<h3>We would like to know you better</h3>

	<%= form_for @user, url: '/users/question1' do |f| %>
	<%= f.label :first_name %>
	<br>
	<%= f.text_field :first_name, required: true %>
	<br>
	<%= f.label :last_name %>
	<br>
	<%= f.text_field :last_name, required: true %>
	<br>
	<%= f.label :age %>
	<br>
	<%= f.text_field :age, required: true %>
	<br>
	<br>
	<%= f.submit 'Take a deep breath' %>
	<% end %>